.type-837 #hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  list-style: none;
  margin-top: 20px;
}
.type-837 #hexGrid .hex {
  position: relative;
  outline: 1px solid transparent;
}
.type-837 #hexGrid .hex:nth-child(4) {
  visibility: hidden;
}
.type-837 #hexGrid .hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
}
.type-837 #hexGrid .hex:nth-child(1) .hexIn .hexLink {
  background-color: #fc6719;
}
.type-837 #hexGrid .hex:nth-child(2) .hexIn .hexLink {
  background-color: #45810c;
}
.type-837 #hexGrid .hex:nth-child(3) .hexIn .hexLink {
  background-color: #2f60f3;
}
.type-837 #hexGrid .hex .hexIn {
  position: absolute;
  width: 76%;
  padding-bottom: 86.851%;
  margin: 0 2%;
  overflow: hidden;
  outline: 1px solid transparent;
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.type-837 #hexGrid .hex .hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
}
.type-837 #hexGrid .hex .hexIn:hover {
  opacity: 0.5;
  cursor: pointer;
}
.type-837 #hexGrid .hex .hexIn .hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}
.type-837 #hexGrid .hex .hexIn .hexLink .caption {
  position: absolute;
  width: 100%;
  height: 80px;
  margin-left: -50%;
  margin-top: -40px;
  top: 50%;
  left: 85%;
}
.type-837 #hexGrid .hex .hexIn .hexLink img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
  -ms-transform: rotate3d(0,0,0,0deg);
  transform: rotate3d(0,0,0,0deg);
}
@media (min-width: 1201px) {
  .type-837 #hexGrid {
    padding-bottom: 4.4%;
  }
  .type-837 .hex {
    width: 33.33333% !important;
  }
  .type-837 .hex:nth-child(5n+4) {
    margin-left: 16.666%;
  }
}
@media (max-width: 1200px) and (min-width: 901px) {
  .type-837 .hex {
    width: 33.3333%;
  }
  .type-837 .hex .hexLink .caption {
    left: 80% !important;
  }
  .type-837 .hex .hexLink .caption h1 {
    font-size: 180%;
  }
  .type-837 .hex:nth-child(5n+4) {
    margin-left: 16.666%;
  }
}
@media (max-width: 900px) and (min-width: 601px) {
  .type-837 .hex {
    width: 33.333%;
  }
  .type-837 .hex .hexLink .caption {
    left: 75% !important;
  }
  .type-837 .hex .hexLink .caption h1 {
    font-size: 150%;
  }
  .type-837 .hex:nth-child(5n+4) {
    margin-left: 16.666%;
  }
}
@media (max-width: 600px) {
  .type-837 .hex {
    width: 50%;
  }
  .type-837 .hex .hexLink .caption {
    left: 70% !important;
  }
  .type-837 .hex .hexLink .caption h1 {
    font-size: 150%;
  }
  .type-837 .hex:nth-child(3n+3) {
    margin-left: 25%;
  }
}
@media (max-width: 400px) {
  .type-837 .hex {
    width: 50%;
  }
  .type-837 .hex .hexLink .caption h1 {
    font-size: 130%;
  }
  .type-837 .hex:nth-child(3n+3) {
    margin-left: 25%;
  }
}
