.type-1216 li {
  list-style: none;
  float: left;
}
.type-1216 a {
  text-decoration: none;
}
.type-1216 .main {
  margin: 0;
}
.type-1216 .line {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.type-1216 .top-bar .top-links a {
  text-decoration: none;
  margin: 8px 10px 0px 0px;
  color: #555;
  font-size: 13px;
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  border-bottom: 2px solid yellow;
}
.type-1216 .top-bar .top-links a:hover {
  color: #666;
}
.type-1216 .top-bar .top-links ul {
  padding-left: 0px;
}
.type-1216 .top-bar .top-links ul li {
  position: relative;
  display: inline-block;
}
.type-1216 .top-bar .top-links ul li .frame {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  width: 250px;
  bottom: 50px;
  padding: 10px 20px;
  z-index: 1;
  white-space: nowrap;
  border-radius: 5px;
}
.type-1216 .top-bar .top-links ul li .frame:after {
  border-top-color: #333;
  left: 10%;
  content: '';
  position: absolute;
  border-width: 7px;
  border-style: solid;
  top: 111px;
}
.type-1216 .top-bar .top-links ul li:hover .frame {
  display: block;
}
.type-1216 .top-bar .top-links .title {
  font-size: 15px;
  font-weight: bold;
  color: yellow;
  text-align: center;
}
.type-1216 .top-bar .top-text {
  float: right;
}
.type-1216 .top-bar .top-text .icon-social {
  display: inline-block;
}
.type-1216 .top-bar .top-text .icon-social i {
  padding: 7px 13px;
  transition: 0.3s;
}
.type-1216 .top-bar .top-text .icon-social a {
  margin: 0px;
  color: #555;
  font-size: 13px;
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 0;
}
.type-1216 .top-bar .top-text .icon-social i:hover {
  color: #fff;
  transition: 0.3s;
  border-radius: 10px;
  cursor: pointer;
}
.type-1216 .top-bar .top-text .icon-social .fb:hover {
  background-color: #395795;
}
.type-1216 .top-bar .top-text .icon-social .email:hover {
  background-color: #ac3e31;
}
.type-1216 .top-bar .top-text .icon-social .skype:hover {
  background-color: #087bbd;
}
.type-1216 .top-bar .top-text .text {
  font-size: 15px;
}
.type-1216 .top-bar .top-text span {
  border-bottom: 2px solid yellow;
  padding: 5px 0;
  font-style: italic;
}
@media (max-width: 980px) {
  .type-1216 .top-bar .top-links ul li .frame {
    position: unset;
  }
  .type-1216 .top-bar .top-links ul li .sticky {
    position: fixed;
    text-align: center;
  }
  .type-1216 .top-bar .top-links ul li:hover .sticky {
    display: block;
    left: 0;
    width: 100%;
    bottom: 0;
  }
  .type-1216 .top-bar .top-links ul li .frame:after {
    display: none;
  }
}
@media (max-width: 598px) {
  .type-1216 .top-bar {
    text-align: center;
  }
  .type-1216 .top-bar .top-links {
    display: inline-block;
  }
  .type-1216 .top-bar .top-text {
    float: unset !important;
    margin-top: 10px;
  }
}
@media (max-width: 392px) {
  .type-1216 .top-links a {
    font-size: 11px !important;
  }
  .type-1216 .top-text .text,
  .type-1216 .top-text .hotline {
    font-size: 12px !important;
  }
  .type-1216 .icon-social {
    margin-top: 5px;
  }
}
