.type-1218 {
  margin-bottom: 40px;
}
.type-1218 p {
  text-align: center;
}
.type-1218 img {
  width: 100%;
}
.type-1218 .about {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  top: 45%;
  z-index: 1000;
}
.type-1218 .about h1 {
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.type-1218 .about .title-content {
  text-align: center;
  font-size: 22px;
  color: #fff;
}
.type-1218 .border {
  border-bottom: 3px solid;
  width: 50%;
  margin: 0 auto;
  border-color: #fdd000;
  margin-bottom: 10px;
}
.type-1218 .tittle {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.type-1218 .tit {
  text-align: center;
  margin-top: 40px;
}
.type-1218 .tittle-sub {
  color: #fdd000;
}
.type-1218 .border-text {
  border-bottom: 3px solid;
  width: 50%;
  margin: 0 auto;
  border-color: #fdd000;
  margin-bottom: 10px;
  width: 40%;
}
.type-1218 .content {
  margin-top: 30px;
  line-height: 20px;
}
@media (max-width: 650px) {
  .type-1218 .tittle {
    font-size: 15px;
  }
  .type-1218 .content {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (min-width: 990px) {
  .type-1218 .tit .tittle {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .type-1218 .border-text {
    width: 30%;
  }
}
@media (max-width: 1200px) {
  .type-1218 .about {
    top: 42.5%;
  }
}
@media (max-width: 768px) {
  .type-1218 .about {
    top: 40%;
  }
}
@media (max-width: 468px) {
  .type-1218 .about {
    top: 35%;
  }
  .type-1218 .about h1 {
    font-size: 180%;
  }
  .type-1218 .about .title-content {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  .type-1218 .about h1 {
    font-size: 150%;
  }
  .type-1218 .about .title-content {
    font-size: 15px;
  }
}
